.draggable {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

.red {
 background: red;
 top: 10px;
 left: 10px;
}

.green {
 background: green;
 top: 120px;
 left: 10px;
}

.blue {
 background: blue;
 top: 230px;
 left: 10px;
}